<a href="https://colab.research.google.com/github/bhadreshpsavani/EyeExerciseApp/blob/master/score_analyser.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Eye Excercise App will have comparision between Eye Gaze Vector of Exercise Person and User. We will use cosine similarity to check the similarity between two vectors. 

We will sum up cosine value for each value, it will be shown in the screen as a current score

In [1]:
!git clone https://github.com/bhadreshpsavani/EyeExerciseApp.git

Cloning into 'EyeExerciseApp'...
remote: Enumerating objects: 41, done.
remote: Counting objects: 100% (41/41), done.
remote: Compressing objects: 100% (36/36), done.
remote: Total 214 (delta 18), reused 18 (delta 5), pack-reused 173
Receiving objects: 100% (214/214), 48.32 MiB | 19.62 MiB/s, done.
Resolving deltas: 100% (81/81), done.

In [2]:
import pandas as pd

In [3]:
exercise_df = pd.read_csv('/content/EyeExerciseApp/bin/demo.csv')
exercise_df.head()

   vector_x  vector_y  vector_z
0  0.562360  0.134729 -0.746307
1  0.629163  0.102327 -0.778753
2  0.630760  0.049273 -0.786223
3  0.710340  0.117064 -0.648585
4  0.389269  0.213766 -0.852774

In [5]:
user_df = pd.read_csv('/content/EyeExerciseApp/src/cam.csv')
user_df.head()

   vector_x  vector_y  vector_z
0  0.231528 -0.026729 -0.800178
1  0.049462  0.068548 -0.838929
2  0.024221  0.006353 -0.839560
3 -0.233918  0.018848 -0.837928
4 -0.082117 -0.036838 -0.862534

In [6]:
from scipy.spatial.distance import cosine

In [9]:
cosine(exercise_df.iloc[1], user_df.iloc[1])

0.18513199576347572